:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --box-shadow: #eaeaea;
  --border-radius: 40px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Topography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 7rem;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1.4rem;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badges */

.badge {
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  font-size: 2rem;
}

.badge--primary {
  background: var(--color-primary);
  color: white;
}

.badge--secondary {
  background: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
    margin-bottom: 1rem;
  }
}

/* Icons */

.icon {
  width: 5rem;
  height: 5rem;
}

.icon--small {
  width: 3rem;
  height: 3rem;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: white;
}

.icon-container {
  background: #f3f9fa;
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}

@media screen and (min-width: 1024px) {
  .icon {
    width: 4rem;
    height: 4rem;
  }

  .icon--small {
    width: 3rem;
    height: 3rem;
  }

  .icon-container {
    width: 6.5rem;
    height: 6.5rem;
  }
}

/* Buttons */

.button {
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.button--block {
  display: inline-block;
  width: 100%;
}

.button--accent {
  color: white;
  background: var(--color-accent);
}

.button--accent:hover {
  background: #fd4516;
}

.button--secondary {
  color: white;
  background: var(--color-secondary);
}

.button--secondary:hover {
  background: #00c8eb;
}

.button--white {
  color: var(--color-headings);
  background: inherit;
  border: 0.2rem solid var(--color-headings);
  padding: 1.8rem 2.8rem;
}

.button--white:hover {
  background: #eeeded;
}

.button--heading {
  color: white;
  background: var(--color-headings);
}

.button--heading:hover {
  background: #200974;
}

.button--search::before {
  content: url(../images/tick.svg);
  padding-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  font-size: 2rem;
  font-weight: 200;
  padding: 2.5rem 4rem;
  border-radius: var(--border-radius);
  border: 0;
  box-shadow: 0 0 20px 10px var(--box-shadow);
  margin: 1rem;
  outline: 0;
  color: var(--color-headings);
}

.input::placeholder {
  color: #bcb8cc;
  opacity: 1;
}

.input-group {
  display: flex;
  box-shadow: 0 0 20px var(--box-shadow);
  border-radius: var(--border-radius);
}

.input-group .input {
  box-shadow: none;
  margin: 0;
  flex-grow: 1;
}

.input-group .button {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px var(--box-shadow);
}

.card__header-container {
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: white;
}

.card--primary .badge--primary {
  background: #105dc2;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: white;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* Plans */

.plan__name {
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0.8;
  display: block;
}

.plan .list__item {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.plan--popular .card {
  position: relative;
}

.plan--popular .card::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -5.5px;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan_price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */

.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1.5rem;
}

/* Quotes */

.quote {
  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
  color: var(--color-body-darker);
  line-height: 1.3;
  margin: 2rem 0;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}

.quote__company {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-headings);
  opacity: 0.4;
}

.quote__line {
  position: relative;
  bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonials */

.testimonial {
  padding: 3rem;
  overflow: hidden;
}

.testimonial__image {
  position: relative;
  margin: 0 4rem 2rem 4rem;
}

.testimonial__image > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -4rem;
}

@media screen and (min-width: 1024px) {
  .testimonial__image > .icon-container {
    right: -3.3rem;
  }
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
  }

  .testimonial .quote__company {
    font-size: 1.4rem;
  }
}
