<section class="block block--dark block--skewed-right">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">User-Friendly Control Panel</h2>
    </div>
    <div class="grid grid--1x2 showcase">
      <div class="showcase__image">
        <picture>
          <source
            type="image/webp"
            srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
          />
          <source
            type="image/png"
            srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
          />
          <img class="hero__image" src="images/ipad.png" alt="" />
        </picture>
      </div>
      <div class="showcase__content">
        <div class="media showcase__item">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#settings"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">
              Easy Start & Managed Updates
            </h3>
            <p class="media__text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
              quis accusantium provident dolore ullam pariatur.
            </p>
          </div>
        </div>
        <div class="media showcase__item">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">Staging, Git & WP-CLI</h3>
            <p class="media__text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
              quis accusantium provident dolore ullam pariatur.
            </p>
          </div>
        </div>
        <div class="media showcase__item">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block__heading">Dynamic Caching & More</h3>
            <p class="media__text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia
              quis accusantium provident dolore ullam pariatur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
