<section class="block block--dark block-callout">
  <div class="callout callout--primary container">
    <div class="grid grid--1x2 callout__body">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started?</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta non
          dolores eius. Accusantium tempora nesciunt aperiam natus. Accusantium,
          neque repellendus!
        </p>
      </div>
      <a href="#" class="button button--secondary button--stretched"
        >Get Started</a
      >
    </div>
  </div>
</section>
